
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

main {
  padding: 0 35px;
}
.fa-star {
  color: #0065FC;
}

/*  HEADER  */
@media screen and (max-width: 800px) {
  header {
    flex-direction: column!important;
  }
  header aside {
    margin-bottom: 20px;
    width: 100%!important;
    justify-content: center!important;
  }
  header nav {
    width: 100%!important;
    justify-content: center!important;
    margin-right: 0!important;
  }
  header nav ul {
    text-align: center;
    width: 100%!important;
  }
  header nav ul li {
    width: 50%!important;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    margin: 0!important;
  }
  .nav-active {
    border-bottom: 3px solid #0065FC;
  }
}
header {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header aside {
  justify-content: left;
  margin-left: 50px;
}
header aside img {
  width: 125px;
}
header nav {
  justify-content: right;
  margin-right: 75px;
}
header nav ul {
  display: flex;
}
header nav li {
  padding-bottom: 10px;
  margin: 0 30px;
}
.nav-active a {
  color: #0065FC;
}
header nav li a {
  color: black;
}
header aside, header nav {
  display: flex;
  align-items: center;
  width: 50%; 
}

/*  TITLE  */
.title {
  padding: 20px 0;
  line-height: 42px;
}

/*  SEARCH  */
.search {
  border-radius: .7em;
  margin-bottom: 5px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
form {
  display: flex;
}
form * {
  padding: 8px 15px;
}
.search form i {
  border-top-left-radius: .7em;
  border-bottom-left-radius: .7em;
  background-color: rgb(201, 201, 201);
}
.search form input {
  font-size: 1.1em;
  border: none;
}
.search form button {
  border-top-right-radius: .7em;
  border-bottom-right-radius: .7em;
  font-size: 1em;
  border: none;
  background-color: #0065FC;
  color: white;
}

/*  FILTERS  */
@media screen and (max-width: 1070px) {
  .filters {
    flex-direction: column;
    align-items: flex-start!important;
  }
}
.filters {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.filters-cards {
  display: flex;
  flex-wrap: wrap;
}
.filters-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  border: 2px solid #DEEBFF;
  border-radius: 65px;
}
.filters-cards a :hover {
  opacity: .8;
}
.filters-card i {
  padding: 13px;
  background-color: #DEEBFF;
  color: #0065FC;
  font-size: 1.1em;
  border-radius: 50%;
  margin-left: -2px;
  width: 20px;
  height: 18px;
  text-align: center;
  align-self: center;
}
.filters-card p {
  padding: 0 10px;
  color: black;
}
.filters-info {
  display: flex;
  align-items: center;
}
.filters-info i {
  color: #0065FC;
  padding: 4px 10px;
  border-radius: 500em;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.filters-info p {
  margin-left: 8px;
}

/*  HOSTINGS  */
@media screen and (min-width: 1070px) and (max-width: 1300px) {
  .hostings-marseille {
    width: 70%;
  }
  .hostings-most-populars {
    width: 30%;
  }
  .marseille-card {
    width: 42%!important;
  }
}
@media screen and (max-width: 1070px) {
  .hostings {
    flex-direction: column;
    flex-flow: wrap-reverse;
  }
  .hostings-marseille {
    background-color: #ffffff!important;
  }
}
@media screen and (min-width: 500px) and (max-width: 1070px) {
  .marseille-card {
    width: 42%!important;
  }
}
@media screen and (max-width: 800px) {
  .marseille-card {
    width: 90%!important;
  }
  .hostings-marseille {
    padding: 0!important;
  }
}
.hostings-marseille, .hostings-most-populars {
  border-radius: 20px;
  background-color: #F2F2F2;
  margin: 35px 0;
}
.hostings-container {
  padding: 30px;
}
.hostings-card {
  background-color: white;
  border-radius: 1em;
  margin: 20px;
}
.hostings-card-img {
  padding: 5px;
}
.hostings-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hostings-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.hostings-title i {
  font-size: 1.5em;
}
.hostings {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hostings-marseille {
  margin-right: 30px;
}
.marseille-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.marseille-title, .marseille-display-more {
  margin-left: 20px;
}
.marseille-display-more p a {
  color: black;
}
.marseille-card {
  height: 280px;
  width: 30%;
}
.marseille-card-img img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.marseille-card-img {
  height: 65%;
}
.marseille-card-content {
  height: 35%;
  padding: 0 15px;
  line-height: 27px;
}
.hostings-most-populars {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.most-populars-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.most-populars-card {
  display: flex;
  height: 190px;
  width: 100%;
}
.most-populars-card-img {
  width: 40%;
}
.most-populars-card-img img {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.most-populars-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 10px;
  line-height: 30px;
}

/* ACTIVITIES */
@media screen and (max-width: 1100px) {
  .activities-cards {
    flex-wrap: nowrap!important;
    height: unset!important;
  }
  .activities-card {
    height: 250px!important;
    width: 100%!important;
    margin-bottom: 50px!important;
  }
  .activities-card-content {
    height: 25%!important;
  }
}
.activities {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
.activities-title {
  margin-bottom: 20px;
}
.activities-cards {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.activities-card {
  width: 22%;
  border-radius: 1em;
  box-shadow: -3px 5px 15px rgba(41, 0, 0, 0.15);
}
.activities-card-img {
  width: 100%;
}
.activities-card-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  object-fit: cover;
}
.activities-card-content {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.activities-card-content p {
  padding-left: 15px;
}
.activities-large-card {
  height: 100%;
}
.activities-medium-card {
  height: 48%;
}

.activities-medium-card-content {
  height: 16%;
}
.activities-medium-card-img {
  height: 84%;
}
.activities-large-card-content {
  height: 8%;
}
.activities-large-card-img {
  height: 92%;
}

/* FOOTER */
@media screen and (max-width: 800px) {
  footer {
    flex-direction: column!important;
    align-items: flex-start!important;
    padding-left: 50px!important;
  }
  .footer-container {
    margin: 15px 0!important;
  }
}
footer {
  padding: 50px 0;
  margin-top: 50px;
  background-color: #F2F2F2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  margin-bottom: 8px;
}
footer p, footer a {
  color: black;
  line-height: 33px;
  font-size: 1.18em;
}
.footer-about {
  
}
.footer-assist {
  
}
.footer-hosting {
  
}
.footer-container {
  display: flex;
  flex-direction: column;
}